/.vscode
.luarc.json
assets/1x/core/ultimatesuperduperomegaassetaafixerandupsaclegeneratorforshare.py
assets/2x/core/ultimatesuperduperomegaassetaafixerandupsaclegeneratorforshare.py
assets/.DS_Store
assets/1x/.DS_Store
content/.DS_Store
assets/sounds/.DS_Store
